{% extends 'base.html' %}

{% block content %}
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-12 col-md-7 col-lg-5">
                <div class="card shadow-sm">
                    <div class="card-body p-4">
                        <h1 class="h4 text-center mb-4">Авторизация</h1>
                        <form class="" method="post">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button type="submit">Войти в аккаунт</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}